
  <h1>Employees</h1>
  <div class="row">
    <div class="col-12 ml-auto">
      <div class="btn-group">
        <button (click)="addItem()" class="btn btn-primary">Add</button>
        <!-- <a routerLink="/" role="button" class="nav-link">Add</a> -->
        <button (click)="editItem()" [disabled]="!isRowSelected"  class="btn btn-secondary">Edit</button>
        <button (click)="deleteItem()" [disabled]="!isRowSelected" class="btn btn-danger">Delete</button>
      </div>
      <ag-grid-angular
        #agGrid
        style="width: auto; height: 500px;"
        class="ag-theme-balham"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        rowSelection="single"
        (selectionChanged)="onSelectionChanged()"
        (rowDoubleClicked)="onRowDoubleClicked()"
      >
      </ag-grid-angular>
      <!-- rowSelection="multiple" -->
    </div>
  </div>

